// reset style start
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  width: 0rem;
}
// reset style end
body {
  overflow-x: hidden;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(204, 255, 241),
    rgb(255, 214, 194)
  );

  background-image: -webkit-linear-gradient(
    90deg,
    rgb(204, 255, 241),
    rgb(255, 214, 194)
  );

  background-image: linear-gradient(
    90deg,
    rgb(204, 255, 241),
    rgb(255, 214, 194)
  );
  background-size: 500%;
  animation: bgPosition infinite 10s;
}
@keyframes bgPosition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.toggler {
  width: 50px;
  height: 50px;
  cursor: pointer;
  &.ori {
    span {
      &:first-child {
        animation: togglerOriginal 1.2s;
      }
      &:nth-child(2) {
        animation: togglerOriginal2th 1.2s;
      }
      &:nth-child(3) {
        animation: togglerOriginal3th 1s;
      }
    }
  }
  &.active {
    span {
      &:first-child {
        animation: togglerHover 0.7s;
        animation-fill-mode: forwards;
      }
      &:nth-child(2) {
        animation: togglerHover2th 0.3s;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation: togglerHover3th 0.3s;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
      }
    }
  }
  span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 50px;
    &:first-child {
      margin-top: 10px;
    }
    &:nth-child(2) {
      margin-top: 10px;
      width: 90%;
      margin-left: auto;
    }
    &:nth-child(3) {
      margin-top: 10px;
      width: 70%;
      margin-left: auto;
    }
  }
}
@keyframes togglerOriginal {
  0% {
    width: 100%;
    transform: translateY(15px) rotate(405deg);
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
    margin-top: 10px;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes togglerOriginal2th {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes togglerOriginal3th {
  0% {
    width: 100%;
    margin-top: 0;
    transform: rotate(-45deg);
  }
  100% {
    margin-top: 10px;
    transform: rotate(180deg);
    width: 70%;
  }
}
@keyframes togglerHover {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
    transform: translateY(15px) rotate(405deg);
  }
}
@keyframes togglerHover2th {
  0% {
    width: 90%;
  }
  100% {
    width: 0%;
  }
}
@keyframes togglerHover3th {
  0% {
    width: 70%;
  }
  100% {
    width: 100%;
    margin-top: 0;
    transform: rotate(-45deg);
  }
}
.img-outer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgba(226, 161, 70, 0.567);
  box-shadow: 0px 10px 5px rgba(226, 161, 70, 0.15);
  img {
    width: 150px;
    object-fit: contain;
  }
  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
    img {
      width: 300px;
    }
  }
}
.solgan {
  border-top: 1px solid rgb(226, 161, 70);
  border-bottom: 1px solid rgb(226, 161, 70);
  padding: 0.5rem 0.2rem !important;
  letter-spacing: 0.5rem;
  overflow: hidden;
  transform: rotate(-3deg);
  p {
    animation: move 60s linear infinite;
    -webkit-animation: move 60s linear infinite;
    @media (max-width: 768px) {
      animation: move 30s linear infinite;
      -webkit-animation: move 30s linear infinite;
    }
  }
}
@keyframes move {
  0% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(-1000%);
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(101%);
  }
  100% {
    -webkit-transform: translateX(-1000%);
  }
}
.btn-item {
  a {
    transition: ease-in-out 1s;
    &:hover {
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      transform: scale(1.2);
    }
  }
  .content {
    p {
      margin-bottom: 0.5rem;
    }
  }
  .blob1 {
    p {
      animation: textFly 4.5s infinite;
    }
  }
  .blob2 {
    p {
      animation: textFly 7s infinite;
    }
  }
  .blob3 {
    p {
      animation: textFly 8s infinite;
    }
  }
  .content {
    .arrow-right {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.459);
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      &::before,
      &::after {
        content: '';
        border: solid black;
        border-width: 0px 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        top: 50%;
      }
      &::before {
        transform: translateX(7px) rotate(-45deg);
        animation: right-slide 3s infinite;
      }
      &::after {
        display: none;
        transform: translateX(7px) rotate(-45deg);
        animation: right-slide 2.5s infinite;
      }
    }
  }
}
.banner-title {
  font-size: 2rem;
  font-weight: bolder;
  @media (min-width: 768px) {
    font-size: 2.8rem;
  }
}
.utility-title {
  font-size: 1.2rem;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
.letter-spacing-1 {
  letter-spacing: 0.2rem;
}
.contact_phone,
.contact_email {
  &::before {
    content: '';
    margin-right: 1rem;
    display: inline-block;
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(226, 161, 70, 0.375);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.313);
  }
}
.contact_phone {
  &::before {
    background-image: url('../images/phone-call.png');
  }
}
.contact_email {
  &::before {
    background-image: url('../images/mail.png');
  }
}
@keyframes right-slide {
  0% {
    transform: translate(7px, -50%) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: translate(27px, -50%) rotate(-45deg);
    opacity: 0;
  }
  70% {
    display: none;
    transform: translate(-14px, -50%) rotate(-45deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(7px, -50%) rotate(-45deg);
  }
}
@keyframes textFly {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
